@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin:0;
    background: #f1f1f1;
    -webkit-fonrt-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

}

code{
        font-family: source-code-pro, Melo, Monaco, Consolas
}